<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

Lenguaje reactivo: Pasa algo y haces algo
¿Qué hace que pase algo? porque el contenido de los {{}} cambia.
Hago: cambia el contenido del elemento html que tiene el ng-controller asociado
-->

<html>
    <head>
        <title>Hello AngularJS</title>
        <link href="css/angular-bootstrap.css" rel="stylesheet">
        <style type="text/css">
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>
    </head>

    <body ng-app="hello">
        <div class="container">
            <h1>Greeting</h1>
            <div ng-controller="home" ng-cloak class="ng-cloak">
                <p>The ID is {{greeting.id}}</p>
                <p>The content is {{greeting.content}}</p>
                <p>The content is {{greeting}}</p>
            </div>
        </div>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/hello.js"></script>
    </body>
</html> 

