﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="cajero">
    <head>
        <title>Cajero</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
<body class="bg-light">
    <header>
    </header>
    <main>
        <article ng-controller="filasCuentas"> <!--Angularjs-->
            <section class="m-2 p-3 mx-auto container-md border bg-white">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Cedula Estudiante</label>
                  <input type="cedula" class="form-control" id="exampleFormControlInput1"  value="1" ng-model="cedula"/>
                  <br/>
                  <button type="button" class="btn btn-success" ng-click="consultar()">Consultar</button>
                </div>
            </section>
            <section class="m-2 p-3 mx-auto container-md border bg-white">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Número Cuenta</th>
                      <th scope="col">Saldo</th>
                      <th scope="col">CVV</th>
                      <!--<th scope="col">Acciones</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="fila in filas">
                        <td>{{fila.id}}</td>
                        <td>{{fila.numcuenta}}</td>
                        <td>{{fila.saldo}}</td>
                        <td>{{fila.cvv}}</td>
                        <!--<td>
                            <button type="button" class="btn btn-success">Editar</button>
                            <button type="button" class="btn btn-danger">Remover</button>
                        </td>-->
                    </tr>
                  </tbody>
                </table>
            </section>
        </article>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="js/cedula.js"></script>
</body>
</html>